.Header {
  position: fixed;  /* 스크롤해도 고정 */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;    /* 다른 요소 위에 표시되도록 설정 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;    /* 투명 배경 */
  /* backdrop-filter: blur(4px); */
  height: 50px;
  padding: 0 20px;
}

.left, .center, .right {
  display: flex;
  align-items: flex-start; 
  justify-content: flex-start;
}

.left {
  flex-basis: 25%;
  display: flex;
  align-items:center;
  justify-content: center;
}

.center {
  flex-basis: 40%;
}

.right {
  flex-basis: 35%;
  flex-direction: row;
  align-items: flex-end;
  gap: 5%; /* temp 간 간격 */
  margin-top: 12px;
}

.home {
  font-weight: bold;
  color: #333;
  font-size: 24px;
}

.home:hover {
  cursor: pointer;
}

.temp {
  font-weight: bold;
  color: #333;
  font-size: 16px;
}

.temp:hover {
  cursor: pointer;
}

/* Landing 페이지에서 사용할 흰색 텍스트 스타일 */
.landing-text {
  color: white !important;
}

.landing-text:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}